<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">新建项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="project_form">
                    <div class="form-group">
                        <label for="projectName" class="col-sm-2 control-label">项目名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="projectName" name="title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="owner" class="col-sm-2 control-label">负责人</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" readonly>
                                <input type="hidden" class="form-control" name="person_in_charge" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="select_chargers">+</button>
                                    <!-- <button class="btn btn-default" type="button" data-toggle="modal" data-target="#select_member">+</button> -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="participants" class="col-sm-2 control-label">参与者</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" readonly>
                                <input type="hidden" class="form-control"  name="members" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="select_participants">+</button>
                                    <!-- <button class="btn btn-default" type="button" data-toggle="modal" data-target="#select_member">+</button> -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="importance" class="col-sm-2 control-label">重要性</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="level" value="3"> 非常重要
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="level" value="1"> 一般
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deadline" class="col-sm-2 control-label">截止日期</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form_datetime" name="deadline" readonly>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="detail" class="col-sm-2 control-label">项目详情</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="description" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ispublic" class="col-sm-2 control-label">是否公开</label>
                        <div class="col-sm-10 checkbox">
                            <label>
                                <input type="checkbox" name="is_public"> 公开项目
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" id="project_btn">提交</button>
                <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#createProject_2">新建项目</button> -->
            </div>
        </div>
    </div>
</div>
