<h4>say something</h4>
<textarea class="form-control" rows="3"></textarea>
<p class="text-right martb10">
    <button class="btn btn-primary btn-sm">提交</button>
</p>
<article class="discussion">
    <ul class="list-unstyled">
        <li>
            <p><small>tianchaolang:</small>
            </p>
            <blockquote>
                <p>hello world</p>
                <footer>19hours ago</footer>
            </blockquote>
        </li>
        <li>
            <p><small>tianchaolang:</small>
            </p>
            <blockquote>
                <p>hello world</p>
                <footer>19hours ago</footer>
            </blockquote>
        </li>
        <li>
            <p><small>tianchaolang:</small>
            </p>
            <blockquote>
                <p>hello world</p>
                <footer>19hours ago</footer>
            </blockquote>
        </li>
    </ul>
</article>
