<div class="title row">
    <div class="col-md-6">
        <h4>部署给我的任务</h4>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-primary btn-sm martb10" data-toggle="modal" data-target="#createIssue">新建任务</button>
        <button class="btn btn-primary btn-sm martb10" data-toggle="modal" data-target="#issueDetail">任务详情（测试）</button>
    </div>
    <!-- issue create Modal -->
    {% include "partial/createIssueModal.html" %}
    {% include "partial/selectMemberModal.html" %}
    <!-- issue detail Modal -->
    {% include "partial/issueDetailModal.html" %}
</div>
<table class="table table-striped">
    <thead>
        <th>任务名称</th>
        <th>讨论</th>
        <th>负责人</th>
        <th>状态</th>
        <th>删除</th>
    </thead>
    <tbody>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <td>A</td>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <td>A</td>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="title row">
    <div class="col-md-6">
        <h4>我部署的任务</h4>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <th>任务名称</th>
        <th>讨论</th>
        <th>负责人</th>
        <th>状态</th>
        <th>删除</th>
    </thead>
    <tbody>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <th>B</th>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <th>B</th>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
    </tbody>
</table>
