<div class="title row">
    <div class="col-md-6">
        <h4>部署给我的任务</h4>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-primary btn-sm martb10" data-toggle="modal" data-target="#createIssue">新建任务</button>
        <button class="btn btn-primary btn-sm martb10" data-toggle="modal" data-target="#issueDetail">任务详情（测试）</button>
    </div>
    <!-- issue create Modal -->
    <div class="modal fade" id="createIssue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新建任务</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="issueName" class="col-sm-2 control-label">任务名</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="issueName" placeholder="issueName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="participants" class="col-sm-2 control-label">参与者</label>
                            <div class="col-sm-10">
                                <select multiple class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deadline" class="col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form_datetime" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail" class="col-sm-2 control-label">详情</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- issue detail Modal -->
    <div class="modal fade" id="issueDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">任务详情</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">任务名称</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">issue A</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">任务详情</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">issue A detail</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">提出人</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">A</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">负责人</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">B</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">2014.12.12</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <textarea class="form-control" rows="3"></textarea>
                    <p class="martb10">
                        <button class="btn btn-sm btn-primary">提交</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <th>任务名称</th>
        <th>讨论</th>
        <th>负责人</th>
        <th>状态</th>
        <th>删除</th>
    </thead>
    <tbody>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <td>A</td>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <td>A</td>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="title row">
    <div class="col-md-6">
        <h4>我部署的任务</h4>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <th>任务名称</th>
        <th>讨论</th>
        <th>负责人</th>
        <th>状态</th>
        <th>删除</th>
    </thead>
    <tbody>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <th>B</th>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
        <tr>
            <td><a href="">frontend</a>
            </td>
            <td>12</td>
            <th>B</th>
            <td>
                <select name="" id="" class="form-control">
                    <option value="finished">finished</option>
                    <option value="unfinish">unfinish</option>
                    <option value="executed">executed</option>
                </select>
            </td>
            <td>
                <button class="btn btn-danger btn-xs">delete</button>
            </td>
        </tr>
    </tbody>
</table>
