<!-- <dl class="dl-horizontal">
    <dt>project detail:</dt>
    <dd>dota2</dd>
    <dt>deadline:</dt>
    <dd>2014-12-12</dd>
    <dt>importance:</dt>
    <dd>very important</dd>
    <dt>progress:</dt>
    <dd>
        <button class="btn btn-default btn-xs">Edit</button>
    </dd>
</dl> -->
<div class="row martb10">
    <p class="col-sm-2 text-right">项目详情:</p>
    <p class="col-sm-4">{{ data.project.description }}</p>
    <p class="col-sm-2 text-right">截止日期:</p>
    <p class="col-sm-4">{{ data.project.deadline }}</p>
    <p class="col-sm-2 text-right">重要程度:</p>
    <p class="col-sm-4">{{ data.project.importance }}</p>
    <p class="col-sm-2 text-right">添加成员:</p>
    <p class="col-sm-4"><button class="btn btn-default btn-xs" id="add_btn">添加</button></p>
    <p class="col-sm-2 text-right">项目状态:</p>
    <p class="col-sm-4"><button class="btn btn-default btn-xs" id="edit_btn">编辑</button></p>
</div>
{% include "partial/projectAddMemberModal.html" %}
<div class="progressBar" data-step="{{ data.project.status }}">
    <ul>
        <li>需求<span>1</span>
        </li>
        <li></li>
        <li>策划<span>2</span>
        </li>
        <li></li>
        <li>设计<span>3</span>
        </li>
        <li></li>
        <li>研发<span>4</span>
        </li>
        <li></li>
        <li>测试<span>5</span>
        </li>
        <li></li>
        <li>上线<span>6</span>
        </li>
    </ul>
</div>
<hr>
<h4>project state</h4>
<ul class="list-unstyled projectStateList">
    <li class="clearfix">{{ data.issues }}</li>
    <li class="clearfix">XXX complete issueA <small class="pull-right">9 hours ago</small>
    </li>
    <li class="clearfix">XXX assign issueB to XXX <small class="pull-right">9 hours ago</small>
    </li>
    <li class="clearfix">XXX edit the progress <small class="pull-right">9 hours ago</small>
    </li>
</ul>

