<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
    <title>TeamCoop</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TeamCoop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ data.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{{ url_for('users.user', username=data.username, dash=dash.issues) }}" class="list-group-item {% block issue_class %}{% endblock %}">issues</a>
                    <a href="{{ url_for('users.user', username=data.username, dash=dash.dashboard) }}" class="list-group-item {% block project_class %}{% endblock %}">project</a>
{#                    <a href="#" class="list-group-item {% block share_class %}{% endblock %}">share</a>#}
                    <a href="{{ url_for('users.user', username=data.username, dash=dash.setting) }}" class="list-group-item {% block setting_class %}{% endblock %}">setting</a>
                </div>
            </div>
            <div class="col-md-9">
                {% block main %} {% endblock%}
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

</body>

</html>
