<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if error %}
        <p class="error">
            <strong>Error:</strong> {{ error }}
        </p>
    {% elif messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% else %}
        <form action="{{ url_for('.submit') }}" method="POST">
            <label for="username">用户名</label><input type="text" name="username" id="username"/>
            <label for="password">密码</label><input type="password" name="password" id="password"/>
            <input type="submit" value="登录">
            {{ form.csrf_token }}
        </form>
    {% endif %}
{% endwith %}

<input id="tst" type="text"/>
<button id="addMember">添加</button>

<script src="static/jquery-2.1.1.min.js"></script>
<script>
    $(document).ready(function () {


        $('#addMember').bind('click', function () {
            var url = 'api/project/member/';
            var data = '{"username":"' + $('#tst').val() + '"}';
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    console.log(result);
                }
            });
        });

    });
</script>

</body>
</html>