<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>TeamCoop</title>
</head>

<body>
    <section class="container-fluid">
        <div class="row">
            <h3 class="text-center">TeamCoop</h3>
            <div class="col-md-4 col-md-push-4">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                    </div>
                    <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="vendor/jquery.js"></script>
    <script src="scripts/bootstrap.min.js"></script>

</body>

</html>
