<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if error %}
<p class="error">
    <strong>Error:</strong> {{ error }}
</p>
{% elif messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
{% else %}
    <form action="{{ url_for('.submit') }}" method="POST">
        <label for="username">用户名</label><input type="text" name="username" id="username" />
        <label for="password">密码</label><input type="password" name="password" id="password" />
        <input type="submit" value="登录">
        {{ form.csrf_token }}
    </form>
{% endif %}
{% endwith %}
</body>
</html>