{% extends "base.html" %}
<!-- highlight issue tag -->
{% block project_class %}active{% endblock %} 
{% block main %}
<section>
    <p class="nav-title" data-project-id="{{ data.project.id }}"><span class="glyphicon
    glyphicon-circle-arrow-left"></span
            >{{ data.project.title }}</p>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">进度</a>
            </li>
            <li role="presentation"><a href="#issues" aria-controls="issues" role="tab" data-toggle="tab">任务</a>
            </li>
            <li role="presentation"><a href="#discuss" aria-controls="discuss" role="tab" data-toggle="tab">讨论</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="progress">
                {% include "partial/progress.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="issues">
                {% include "partial/issues.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="discuss">
                {% include "partial/discuss.html" %}
            </div>
        </div>
    </div>
</section>
{% include "partial/selectMemberModal.html" %}
{% endblock%}

{% block footerscript %}
<script src="{{ url_for('static', filename='scripts/selectMemberModule.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/projectModule.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/progress.js') }}"></script>
<script>
    // init 
    memberlist.init();
</script>
{% endblock%}

