{% extends "base.html" %}
<!-- highlight issue tag -->
{% block project_class %}active{% endblock %} 
{% block main %}
<section class="project_dashboard">
    <!-- button create project -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#createProject">新建项目</button>
    <!-- create project Modal -->
    {% include "partial/createProjectModal.html" %}
    {% include "partial/selectMemberModal.html" %}
    <!-- related project -->
    <h4>和我相关的项目</h4>
    <div class="row">
        {% if user_project_items %}
            {% for item in user_project_items %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{{ url_for('users.project_detail', username=data.username, project_id=item['id']) }}">
                            <!-- <img data-src="holder.js/300x300" alt="..." src="{{ url_for('static', filename='images/149H.jpg') }}"> -->
                            <img data-src="holder.js/300x300" alt="..." src="http://placehold.it/350x150">
                        </a>
                        <div class="caption">
                            <h5>{{ item['title']|safe }}</h5>
                            <p>{{ item['description']|safe }}</p>
                            <p>创建时间：{{ item['createtime']|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
        <div class="col-sm-6 col-md-4">
            <p>你还没有参与任何项目，自己创建一个呗 (*^__^*) 嘻嘻……</p>
        </div>
        {% endif %}

    </div>
    <!--  other public project -->
    <h4>其他项目</h4>
    <div class="row">
        {% if user_project_others %}
            {% for item in user_project_others %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{{ url_for('project.project_detail', project_id=item['id']) }}">
                            <!-- <img data-src="holder.js/300x300" alt="..." src="{{ url_for('static', filename='images/150H.jpg') }}"> -->
                            <img data-src="holder.js/300x300" alt="..." src="http://placehold.it/350x150">
                        </a>
                        <div class="caption">
                            <h5>{{ item['title']|safe }}</h5>
                            <p>{{ item['description']|safe }}</p>
                            <p>创建时间：{{ item['createtime']|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
        <div class="col-sm-6 col-md-4">
            <p>没有其他的项目，你让别人创建一个呗 (*^__^*) 嘻嘻……</p>
        </div>   
        {% endif %}

    </div>
</section>

{% endblock%}
{% block footerscript %}
<script src="{{ url_for('static', filename='scripts/selectMemberModule.js') }}"></script>
<script>
    // init 
    memberlist.init();
</script>
{% endblock%}
