{% extends "base.html" %}
<!-- highlight issue tag -->
{% block setting_class %}active{% endblock %} 
{% block main %}
<h4 class="setting_select"> 
<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-target="personal-setting">个人设置</button>
    </div>
    {% if data.user_level == 1 %}
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-target="member-setting">成员设置</button>
    </div>
    {% endif %}
</div>
</h4>
<div class="row">
    <form role="form" class="col-md-6 col-md-push-3 personal-setting">
        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="{{ data.username }}">
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="{{ data.name }}">
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="control-label" for="confirm_passwd">Confirm_password</label>
            <input type="password" class="form-control" id="confirm_passwd" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {% if data.user_level == 1 %}
    <div class="member-setting col-md-12" style="display:none;">
        <ol class="breadcrumb">
            <li><a href="#">Setting</a>
            </li>
            <li><a href="#">MemberSetting</a>
            </li>
            <li class="active">Department</li>
        </ol>
        <section>
            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#createPartment">创建部门</button>
            <!-- create partment Modal -->
            {% include "partial/createPartmentModal.html" %}
            <!-- partment detail Modal -->
            {% include "partial/partmentDetailModal.html" %}
            <table class="table table-striped" id="partmentList">
                <thead>
                    <th>部门名</th>
                    <th>人数</th>
                    <th>操作</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>

    </div>
    {% endif %}
</div>

{% endblock%}

{% block footerscript%}
<script src="{{ url_for('static', filename='scripts/settingModule.js') }}"></script>
{% endblock%}
