// overide
.fill { 
    height: 100%;
    min-height: 100%;
}
.navbar{
    margin-bottom:0;
    box-shadow: 0 5px 10px #ddd;
}
.main-block{
    min-height: 100%;
    .row {
        overflow: hidden;
        .fill;
    }
    >.row>div{
        padding-top:20px;
        @media screen and (min-width: 992px) {
            margin-bottom: -1500px;
            padding-bottom: 1500px; 
            &:first-child {
                background:#ccc;
                .list-group {
                    box-shadow:0 0 15px #444;        
                }
            }
            &:last-child {
                box-shadow:-10px 0 20px #aaa;
            }

        }
    }
}
html {
    .fill;
}
body {
    .fill;
    padding-top:50px;
}
.nav-title{
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 1px;
    span{
        margin:4px 5px 0 0;
    }
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.issue-list li p {
    & {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
    &:last-child {
        color: #aaa;
        font-size: .9em;
    }
}
.setting_select {
    width: 60%;
    .center-block;
}
.projectStateList {
    small {
        color: @gray;
    }
}
#issues {
    table {
        select {
            min-width: 4em;
            width: 7em;
        }
        td {
            vertical-align: middle;
        }
    }
}
.discussion {
    ul {
        p:first-child, p:last-child {
            color: @gray;
        }
        p:not(:first-child) {
            text-indent: 2em;
        }
    }
}
.martb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
// progressbar in project detail
.progressBar {
    width:80%;
    .center-block;
    .noselect;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        text-align: center;
    }
    ul li {
        float: left;
    }
    /* circle */
    
    li:nth-child(odd) span {
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3em;
        border-radius: 50%;
        background: @gray-light;
        text-align: center;
        cursor: pointer;
    }
    li.checked span{
        // .glyphicon;
        // .glyphicon-ok;
        color: #fff;
        background: @brand-primary;
    }
    li:nth-child(even).checked {
        background: @brand-primary;
    }
    /* line */
    
    li:nth-child(even) {
        border-top: 2px solid #fff;
        background: @gray-light;
        /*width: 30px;*/
        /*width: 9%;*/
        
        height: 5px;
        margin-top: 2.6em;
    }
}
// project_dashboard
.project_dashboard {
    .caption {
        h5,p {
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow-x: hidden;
        }
    }
}

.navbar{
    .container-fluid {
        padding-left: 0;
    }
    .navbar-brand {
        padding-left: 25px;
        background: @brand-primary;
        color: #fff;
    }
    span.triangle {
        background: linear-gradient(320deg, transparent 30%, @brand-primary 30%,  @brand-primary);
        @media screen and (max-width:992px) {
            min-width: 220px;    
        }
        min-width: 420px;
        float: left;
        display: inline-block;
        height: 50px;
    }
}