.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.issue-list li p {
    & {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
    &:last-child {
        color: #aaa;
        font-size: .9em;
    }
}
.setting_select {
    width: 60%;
    .center-block;
}
.projectStateList {
    small {
        color: @gray;
    }
}
#issues {
    table {
        select {
            min-width: 4em;
            width: 7em;
        }
        td {
            vertical-align: middle;
        }
    }
}
.discussion {
    ul {
        p:first-child, p:last-child {
            color: @gray;
        }
        p:not(:first-child) {
            text-indent: 2em;
        }
    }
}
.martb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
// progressbar in project detail
.progressBar {
    .noselect;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        text-align: center;
    }
    ul li {
        float: left;
    }
    /* circle */
    
    li:nth-child(odd) span {
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3em;
        border-radius: 50%;
        background: @gray-light;
        text-align: center;
        cursor: pointer;
    }
    li.checked span{
        // .glyphicon;
        // .glyphicon-ok;
        color: #fff;
        background: @brand-primary;
    }
    li:nth-child(even).checked {
        background: @brand-primary;
    }
    /* line */
    
    li:nth-child(even) {
        border-top: 2px solid #fff;
        background: @gray-light;
        /*width: 30px;*/
        /*width: 9%;*/
        
        height: 5px;
        margin-top: 2.6em;
    }
}
// project_dashboard
.project_dashboard {
    .caption {
        h5,p {
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow-x: hidden;
        }
    }
}